header {
	width: 100%;
	height: 20%;
	border-bottom: 3px solid grey;
}

body {
  background-color: #F4FEFE;
  background-color:#F4FEFE;
}

main {
    margin:auto;
    width:80%;
    max-width:1200px;
    display:flex;
    flex-direction:row;   /* dans main, article et aside qui vont se positionner côte à côte */
    /*position: relative;*/
}

footer {
  width: 100%;
  height: 120px;
  border-top: 3px solid grey;
  background-color: #DDDDDD;
}

/* -------------------- tout ce qui concerne le nav----------------------- */

nav {
  width: 100%;
  margin: auto;
  height: 28%;
  display: flex;
  flex-direction: row;
  background-color: #DDDDDD;
}

nav a {
  text-decoration:  none;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  height: 100%;
}

nav > div {
  position: relative;
  display: inline;
  background-color: #DDDDDD;
  padding: 10px 0px;
  border-right: 2px solid grey;
  width: 100px;
  height: 100%;
  text-align: center;
}

#navflag {
  position: absolute;
  right:0;
  display: block;
  width: 60px;
  height: 1.5%;
  border-right: none;
}

#submenu {
  position: absolute;
  top: 72%;
  left: 0px;
  display:none;
  background-color: #DDDDDD;
  z-index: 3;
  padding: 8px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,2);
  border-radius: 0px 0px 5px 5px;
}

#submenu > a:hover
{
  color: #565E75;
}

#submenuflag {
  position: absolute;
  top: 100%;
  display:none;
  background-color: #DDDDDD;
  z-index: 3;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,2);
  border-radius: 0px 0px 10px 10px;
}

nav div:hover #submenu, nav div:hover #submenuflag {
  display:block;
  background-color: #DDDDDD;
}

a:link  {
  color: #00CCFF;
  text-decoration: none;
}

a:visited  {
  color: #00CCFF;
}

nav div:hover {
  background-color: #CCCCCC;
}

.flags {
  width: 30px;
  height: 20px;
}

/* -----------------------Tout ce qui concerne l'entête des------------------------ */

#GrilleBulle {
	display:flex; /* La propriété flex à tous les enfants de grilleBulle */
	flex-wrap:wrap; /* les enfants reviennent à la ligne */
	justify-content:space-evenly; /* les enfants prennent toute la largeur */
  /* width:100%; */
}

#GrilleBulle > div {
    margin:10px;
    min-height: 200px;
    min-width: 200px;
    max-width: 200px;
    max-height: 200px;
    text-align:center;
}

#GrilleBulle img:hover{  /* on applique un effet de transitions aux bulles quand on passe le curseur dessus, elles s'agrandissent et s'assombrisse */
        filter: brightness(50%);
        transform: scale(1.1);
        transition : transform .5s;
}

.ImageBandeau {
  width:200px;
  height:200px;
}

/* ----------------------------------------------------------------------------- */

h1, h2, h3{
  background-color: #DDDDDD;
  color: #00CCFF;
  border: 2px solid grey;
  padding: 10px;
  margin: 30px;
  text-align: center;
  width: 50%;
}

h1 {
  margin:auto;
  margin-top: 25px;
  margin-bottom : 25px;
}

details {
  background-color: #DDDDDD;
  color: #00CCFF;
  border: 2px solid grey;
  padding: 10px;
  margin: 30px;
  text-align:center;
  width: 80%;
}

article { /* la section article formera la première colonne de main */
  width:80%;
}

/* ------------------------Concernant le aside-------------------------- */

aside { /* la section aside formera la seconde colonne de main */
  width:20%;
}

aside > a {
  display:inline;
  background-color: #DDDDDD;
}

/* ------------------------------------------------------------------ */

#IconeOnRemonte {
  position:fixed;
  bottom:20px;
  right:20px;
  width:80px;
  height:80px;
}
