body
{
	width: 80%;
	margin: 0;
  padding: 0;
}

.gants
{
	width: 100px;
	height: 100px;
}

.lunettes
{
	width: 100px;
	height: 100px;
}

h2
{
	background-color: #0000BB;
	color: gold;
	border: 2px solid #CCCCCC;
	padding: 10px;
	margin: 30px;
	text-align: center;
	width: 25%;
}

h3
{
	background-color: #0000BB;
	color: gold;
	border: 2px solid #CCCCCC;
	padding: 5px;
	margin: 50px;
	text-align: center;
	width: 20%;
}


nav
{
	display: flex;
	flex-direction: row;
	width:1020px;
    margin : 10px auto;
    background-color:white;
    font-family: sans-serif;
}

nav > a
{
	font-size : 22px;
    padding : 5px;
    text-decoration: none;
    color: #262d35;
}

nav > div
{
	position: relative;
	display: inline;
	background-color: #0000BB;
	padding: 10px 0px;
	border-left: 1px solid #000055;
	width: 100px;
	text-align: center;
}


nav div:first-child
{
	border-radius: 10px 0px 0px 10px; 
}

nav div:last-child
{
	border-radius: 0px 10px 10px 0px; 
}

.submenu
{
	position: absolute;
	top: 50px;
	left: 0px;
	display:none;
	background-color: #aca;
}

div:hover .submenu
{
	display:block;
	background-color: transparent;
}

a:link 
{
	color: gold;
	text-decoration: none;
}

a:visited {color: gold;}

a:hover 
{
	color:gold;
}

#container
{
  width: 100%;
}

section
{
  padding: 5% 15%;
  margin: 0 auto;
}