/* BODY */
body{
	background-color: lightgrey;
	width: 100%;
	height: 100%;
	text-align: center;
	font-color: red;
}



/* NAV */
header{
	margin:0 auto;
}

nav {
	width: 100%;
	text-align: center;
	margin:0 auto;
	display: block
	
	}

nav > ul{
	display:flex;
	flex-direction: row;
	margin: 0 auto;
}

nav li{

	list-style-type: none;
	border-top:4px solid #2d2d2d;
	border-bottom:4px solid #2d2d2d;
	border-left:4px solid #2d2d2d;
	font-size: 150%;
	background-color:#141414;
	padding: 5px;
	text-align: center;
	letter-spacing: 1px;
}

nav > ul li > ul {

}

nav a{
	color:#646464 ;

}


.submenu{
	display: none;
}

nav .submenu:hover{
	display: flex;
	flex-direction: column;
}



h2 {
	display: block; 
	text-align:center;
}

fieldset {
	width: 50%;
	text-align: left;
	display: inline;
}

.required{
	color: red;
}

.input{
	display: block;
	margin:0 auto;
}




/* #141414 */