html
{
	width: 100%;
}

header
{
	width: 100%;
	border-bottom: 3px solid grey;
}

.dev
{
	width: 20%;
	height: 30%;
}

.exref
{
	width: 20%;
	height: 30%;
}

.tman
{
	width: 20%;
	height: 30%;
}

h3
{
	background-color: white;
	color: green;
	border: 2px solid black;
	padding: 10px;
	margin: 30px;
	text-align: center;
	width: 25%;
}

body
{
	width: 100%;
	height: 100%;
	text-align: auto;
	margin : 0 auto;
}

h2
{
	background-color: white;
	color: green;
	border: 2px solid black;
	padding: 10px;
	margin: 30px;
	text-align: center;
	width: 25%;
}

p
{
	width: 95%;
}

nav
{
	width: 100%;
	margin: auto;
	height: 50%;
	display: flex;
	flex-direction: row;
	background-color: #DDDDDD;
}

nav a
{
	background-color: none;
	padding: 10px;
	text-decoration:  none;
	text-transform: uppercase;
}

nav > div
{
	position: relative;
	display: inline;
	background-color: #DDDDDD;
	padding: 10px 0px;
	border-right: 2px solid grey;
	width: 100px;
	text-align: center;
}

.submenu
{
	position: absolute;
	top: 107%;
	left: 0px;
	display:none;
	background-color: #DDDDDD;
	z-index: 2;
}

div:hover .submenu
{
	display:block;
	background-color: #DDDDDD;
}

a:link {color: #FFDDFF;}

a:visited {color: #00CCFF;}

a:hover {text-decoration: underline;} 

a:hover {color: #000000;}
