main {
    margin:auto;
    width:80%;
    max-width:1200px;
    display:flex;
    flex-direction:row;   /* dans main, article et aside qui vont se positionner côte à côte */
}

/* -----------------------Tout ce qui concerne l'entête des------------------------ */

#GrilleBulle {
	display:flex; /* La propriété flex à tous les enfants de grilleBulle */
	flex-wrap:wrap; /* les enfants reviennent à la ligne */
	justify-content:space-evenly; /* les enfants prennent toute la largeur */
  background-color: #F4FEFE;
}

#GrilleBulle > div {
  margin:10px;
  min-height: 200px;
  min-width: 200px;
  max-width: 200px;
  max-height: 200px;
  text-align:center;
  background-color: #F4FEFE;
}

.ImageBandeau:hover{  /* on applique un effet de transitions aux bulles quand on passe le curseur dessus, elles s'agrandissent et s'assombrisse */
  filter: brightness(50%);
  transform: scale(1.1);
  transition : transform 0.5s;
}

.ImageBandeau {
  width:200px;
  height:200px;
}

/* ----------------------------------------------------------------------------- */

h1, h2, h3{
  background-color: #DDDDDD;
  color: #00CCFF;
  border: 2px solid grey;
  padding: 10px;
  margin: 30px;
  text-align: center;
  width: 50%;
}

#premierh1 {
  margin:auto;
  margin-top: 25px;
  margin-bottom : 25px;
}

details {
  background-color: #DDDDDD;
  color: #00CCFF;
  border: 2px solid grey;
  padding: 10px;
  margin: 30px;
  text-align:center;
  max-width: 80%;
  transition: height 0.7s ease;
  overflow: hidden;
}

details:not([open]) {
    height: 1.25em;
}

details[open] {
    height: 13.5em;
}

/* ------------------------Concernant l'article-------------------------- */

article { /* la section article formera la première colonne de main */
  width:80%;
}

/* ------------------------Concernant le aside-------------------------- */

aside { /* la section aside formera la seconde colonne de main */
  width:20%;
}

aside > a {
  display:inline;
  background-color: #DDDDDD;
}

/* --------------------Semantique dans le texte ------------------------ */

#spanTexte1 {
  color:red;
}

/* -------------------- Propre à la page conf.html ------------------------ */

#article1 {
  max-width:1000px;
  margin:auto;
}

/* --------------------  Un peu de responsive ------------------------ */

@media(max-width: 480px) {

aside {display: none;}

article {
  width:100%;
}
}
