
h3
{
	background-color: #DDDDDD;
	color: #00CCFF;
	border: 2px solid grey;
	padding: 10px;
	margin: 30px;
	text-align: center;
	width: 25%;
}

h2
{
	background-color: #DDDDDD;
	color: #00CCFF;
	border: 2px solid grey;
	padding: 10px;
	margin: 30px;
	text-align: center;
	width: 25%;
}

body
{
	width: 100%;
	height: 100%;
	text-align: auto;
	margin : 0 auto;
	background-color: #F4FEFE;
}

p
{
	width: 95%;
}

main {
	max-width: 1000px;
	width: 80%;
	margin: auto;
}

#Corentin {
	width: 200px;
	height:200px;
	display: flex;
    margin: auto;
    float: right;
}

#Jean {
	width: 150px;
	height:210px;
	display: flex;
    margin: auto;
    float: left;
}

#David {
	width: 250px;
	height:250px;
	display: flex;
    margin: auto;
    float: right;
}

#Andy {
	width: 250px;
	height:230px;
	display: flex;
    margin: auto;
    float: left;
}

#Chuck_Norris {
	width: 275px;
	height:400px;
	display: flex;
    margin: auto;
    float: right;
}

#RD1 {
	width:275px;
	height:400px;
	display: flex;
    margin: auto;
    float: left;
}

#RD2 {
	width: 275px;
	height:400px;
	display: flex;
    margin: auto;
    float: right;
}

#Avocat {
	width: 275px;
	height:400px;
	display: flex;
    margin: auto;
    float: left;
}

#CyberSecurite {
	width: 275px;
	height:400px;
	display: flex;
    margin: auto;
    float: right;
}

#Finances {
	width: 400px;
	height:400px;
	display: flex;
    margin: auto;
    float: left;
}

.Section_fieldset > article {
	margin : 20px;
}

#Linkedin {
	width: 100px;
	height:100px;
	display: flex;
    margin: auto;
}

#WikiLogo { 
	width: 100px;
	height:100px;
	display: flex;
    margin: auto;
}


