/* BODY */
body
{
	width: 100%;
	height: 100%;
	text-align: auto;
	margin : 0 auto;
	background-color: #F4FEFE;
}

body
{ 
  margin:0 auto;
  padding:0;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  text-align: auto;
  background-color: #F4FEFE;
}


/*	MAIN */

h3
{
	background-color: #DDDDDD;
	color: #00CCFF;
	border: 2px solid grey;
	padding: 10px;
	margin: 30px;
	text-align: center;
	width: 25%;
}

h2
{
	background-color: #DDDDDD;
	color: #00CCFF;
	border: 2px solid grey;
	padding: 10px;
	margin: 30px;
	text-align: center;
	width: 25%;
}

p
{
	width: 95%;
}


main
{
	text-align: center;
}


/* form */
fieldset {
	width: 50%;
	text-align: left;
	display: inline;
}

textarea{
	width:99%;
}

.required{
	color: red;
}

.input{
	display: block;
	margin:0 auto;
}
/* end form */



/* #141414 */
