@import url(https://fonts.googleapis.com/css?family=Nunito);

body
{ 
  margin:0 auto;
  padding:0;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: Nunito;
  width: 100%;
  height: 100%;
  text-align: justify;
  background-color: #F4FEFE;
}



h1
{
   font-size: 250%
}

h3
{
  background-color: #DDDDDD;
  color: #00CCFF;
  border: 2px solid grey;
  padding: 10px;
  margin: 30px;
  text-align: center;
  width: 25%;
}

h2
{
  background-color: #DDDDDD;
  color: #00CCFF;
  border: 2px solid grey;
  padding: 10px;
  margin: 30px;
  text-align: center;
  width: 25%;
}



.burger{
  display: none;
}


nav
{
  width: 100%;
  margin: auto;
  height: 28%;
  display: flex;
  flex-direction: row;
  background-color: #DDDDDD;
}

nav a
{
  background-color: transparent;
  text-decoration:  none;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
  height: 100%;
}

nav > div
{
  position: relative;
  display: inline;
  background-color: #DDDDDD;
  padding: 10px 0px;
  border-right: 2px solid grey;
  width: 100px;
  height: 100%;
  text-align: center;
}

#navflag
{
  position: absolute;
  right: 0;
  display: block;
  width: 60px;
  height: 1.5%;
  border-right: none;
}

#submenu
{
  position: absolute;
  top: 100%;
  left: 0px;
  display:none;
  background-color: #DDDDDD;
  z-index: 3;
  padding: 8px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,2);
  border-radius: 0px 0px 5px 5px;
}

#submenu > a:hover
{
  color: #565E75;
}

#submenuflag
{
  position: absolute;
  top: 100%;
  display:none;
  padding-top: 5px;
  background-color: #DDDDDD;
  z-index: 3;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,2);
  border-radius: 0px 0px 10px 10px;
}

div:hover #submenu, div:hover #submenuflag
{
  display:block;
  background-color: #DDDDDD;
}

a:link 
{
  color: #00CCFF;
  text-decoration: none;
}

a:visited 
{
  color: #00CCFF;
}

nav div:hover
{
  background-color: #CCCCCC;
}

.flags
{
  width: 30px;
  height: 20px;
}

#container
{
  width: 100%;
}

html 
{
  height: 100%;
  overflow: hidden;
}

p 
{
  font-size: 140%;
  line-height: 150%;
  color: #333;
  width: 95%;
}

.slide 
{
  position: relative;
  padding: 25vh 10%;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
  transform-style: inherit;
}


#gants,#lunettes
{
  position: absolute;
  top: 50%;
  left: 35%;
  width: 320px;
  height: 240px;
  padding: 10px;
  border-radius: 5px;
  background: rgba(240,230,220, .7);
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}

#gants
{
  transform: translateZ(.4px) scale(.6) translateX(-104%) translateY(-40%) rotate(-5deg);
}

#lunettes
{
   transform: translateZ(.25px) scale(.75) translateX(-94%) translateY(-100%) rotate(2deg);
}

.slide:before 
{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, .7);
}

.title 
{
  width: 50%;
  padding: 5%;
  border-radius: 5px;
  background: rgba(240,230,220, .7);
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
  z-index: 3;
}

.slide:nth-child(2n) .title 
{
  margin-left: 0;
  margin-right: auto;
}

.slide:nth-child(2n+1) .title 
{
  margin-left: auto;
  margin-right: 0;
}

.slide, .slide:before 
{
  background: 50% 50% / cover;  
}

.header 
{
  text-align: center;
  font-size: 175%;
  color: #fff;
  text-shadow: 0 2px 2px #000;
}

#title 
{
  background-image: url("./../images/index/NuageDeBulle.jpg");
  z-index:2;
}

#title h1
{
 transform: translateZ(.25px) scale(.75);
 transform-origin: 50% 100%;
}

#title h2
{
 transform: translateZ(.25px) scale(.75);
 transform-origin: 50% 100%;
}

#title h3
{
 transform: translateZ(.25px) scale(.75);
 transform-origin: 50% 100%;
}

#slide1 
{
  background-image: url("./../images/index/bulles.png");
  transform: translateZ(-1px) scale(2);
}

#slide2 
{
  background-image: url("./../images/index/slide_3.jpg");
  z-index:2;
}

#slide3
{
  background-image: url("./../images/index/Teamdiscussion.jpg");
  transform: translateZ(-1px) scale(2);
}

#slide4 
{
  background: #222;
}

#Twitter
{
  width: 50px;
  height: 50px;
  transform: translateZ(.4px) scale(.6) translateX(40%) translateY(-40%) rotate(5deg);
}

#Facebook
{
  width: 50px;
  height: 50px;
  transform: translateZ(.4px) scale(.6) translateX(-104%) translateY(-40%) rotate(-5deg);
}



@media(max-width: 480px) {

  .burger{
    display:initial;
  }

  #menu2{display: none;}

  nav{display: none;}

  div .burger:hover {
    display: block;
  }
  
}


@media(max-width: 768px) {
  div {background-color:white;}
}


@media(max-width: 992px) {
  div {background-color:white;}
}

@media(max-width: 1200px) {
  div {background-color:white;}
}