
nav
{
	display: flex;
	flex-direction: row;
<<<<<<< HEAD
	width:1020px;
    margin : 10px auto;
    background-color:white;
    font-family: sans-serif;
=======
	background-color: black;
>>>>>>> 263ca776476ccdb9c55b0ada13648721892b7de9
}

nav > a
{
	font-size : 22px;
    padding : 5px;
    text-decoration: none;
    color: #262d35;
}

nav > div
{
	position: relative;
	display: inline;
<<<<<<< HEAD
	background-color: #0000BB;
	padding: 10px 0px;
	border-left: 1px solid #000055;
=======
	background-color: black;
	padding: 10px 0px;
	border-left: 2px solid white;
>>>>>>> 263ca776476ccdb9c55b0ada13648721892b7de9
	width: 100px;
	text-align: center;
}


nav div:first-child
{
	border-radius: 10px 0px 0px 10px; 
}

nav div:last-child
{
	border-radius: 0px 10px 10px 0px; 
}

.submenu
{
	position: absolute;
	top: 50px;
	left: 0px;
	display:none;
	background-color: #aca;
}

div:hover .submenu
{
	display:block;
	background-color: transparent;
}

a:link 
{
	color: gold;
	text-decoration: none;
}

a:visited {color: gold;}

<<<<<<< HEAD
a:hover 
{
	color:gold;
}
=======
<<<<<<< HEAD
a:hover {color:white;}
=======
a:hover {color:#000000;}
>>>>>>> 263ca776476ccdb9c55b0ada13648721892b7de9










header {
}

body {
	display:flex;
    flex-direction:column;
    background-color:#F4FEFE;
}

.GrilleQuestion {
	display:flex;
	flex-wrap:wrap;
	justify-content:space-evenly;
    width:100%;
}

.GrilleQuestion > article {
    margin:10px;
    min-height: 200px;
    min-width: 200px;
    max-width: 200px;
    max-height: 200px;
    text-align:center;
}


main {
    margin:auto;
    width:80%;
    max-width:1200px;
    display:flex;
    flex-direction:row;
}

.sectionArticle {
	width:80%;
	display:flex;
	flex-direction:column;
}

article {
}

.sectionAside {
	width:20%;
}

aside {
	max-width:240px;
	height:800px; 
	position:fixed;
;
}

aside li {
	display:inline;
}

.textarea {
	background-color: #0000BB;
}

footer {
}

.ImageBandeau {
	width:200px;
	height:200px;
}

.couleur li:nth-child(odd) {background-color: #0000BB;}
.couleur li:nth-child(even) {background-color: #0000BB;}


.BlockImageQuestion {
	position:relative;
}

.BlockTexteQuestion {
	position:absolute;
	top:0px;
}

.BlockTexteQuestion p {
	color : gold;
}

#ArticleTextArea {
	background-color: #0000BB;
}

h3 {
	color : gold;
}

<<<<<<< HEAD
details > p {
	color : white;
}
=======
<<<<<<< HEAD
 }
>>>>>>> 29fa2c66bfb5589442ff5e56f9789e913432dee4
=======
>>>>>>> a09c3a49ad22f5165c06b636ab1dc5246c0c0dc4
>>>>>>> 263ca776476ccdb9c55b0ada13648721892b7de9
