h3
{
	background-color: #00DDFF;
	color: #FFFFFF;
	width: 850px;
}

body
{
	background-color: #C0C0C0;
	width: 100%;
	height: 100%;
}

h2
{
	background-color: #DD0000;
	color: #FFFFFF;
	width: 850px;
}

p
{
	width: 95%;
}
#Andy {
	width: 225px;
	height:400px;
}
/*Partie de la barre de progression */
.progress_launching {
    display: table;
}

.progress_launching div {
    display: table-row;
}

label,
progress {
    display: table-cell;
}

label {
    padding-right: 10px;
    text-align: right;
}
/* fin de barre de progression*/